.loyaltyWrapper{
  margin-top: 80px;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
  padding-bottom: 59px;
  overflow: hidden;
}

.loyaltyContainer {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

/* 
.levelIcons{
    display: flex;
    margin-top: 49px;
    position: relative;
    width: 135px;
    height: 55px;
}

.levelIcons span{
    width: 53px;
    height: 55px;
    position: absolute;
}

.levelIcons span:nth-child(1){
    left: 0;
    background-image: url('../../../assets/images/loyalty/platina-icon.png');
}

.levelIcons span:nth-child(2){
    left: 32%;
    background-image: url('../../../assets/images/loyalty/gold-icon.png');
    z-index: 2;
}

.levelIcons span:nth-child(3){
    right: 0;
    background-image: url('../../../assets/images/loyalty/deamond-icon.png');
} */


.informationContainer {
  margin: 37px 0 56px 0;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.informationContainerHeader {
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-family: HelveticaBold;
  font-weight: 700;
  line-height: 32px;
  background: linear-gradient(89deg,
      var(--color-grey-600) 4.32%,
      var(--color-grey-op-96) 100.17%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 8px;
}

.informationContainerDescription {
  text-align: center;
  font-family: HelveticaRoman;
  font-size: 14px;
  line-height: 24px;
  color: var(--color-fg-on-dark-secondary);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 32px;
}

.informationContainerButton {
  display: flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background: rgba(20, 164, 80, 1);
  text-decoration: none;
  color: var(--color-grey-600);
  font-size: 14px;
  line-height: 24px;
  font-family: HelveticaMedium;
}

.loyaltyBottom {
  display: flex;
  padding: 40px 24px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 55px;
  background: var(--color-black-100);
}

.cashbackContainer {
  width: 100%;
}

.containerHeader {
  font-size: 24px;
  line-height: 32px;
  text-align: left;
  width: 100%;
  background: linear-gradient(89deg,
      #fff 4.32%,
      rgba(73, 73, 73, 0.96) 100.17%);
  font-family: HelveticaBold;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.informationContainerButtons {
  display: flex;
  gap: 16px;
}

.informationContainerButtons :nth-child(1) {
  background: var(--color-black-200);
}

.informationContainerButtons :nth-child(2) {
  background: var(--color-grey-600);
  color: var(--color-black-100);
}

.cashbackNavigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.informationContainerButton {
  display: flex;
  gap: 8px;
}

.cashbackNavigation span {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 200px;
  background: rgba(38, 38, 38, 1);
}

.cashbackContainerList{
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
  max-width: 100%;
  gap: 24px;
  margin: 39px 0 24px 0;
}


.noData{
  width: 100%;
  height: 100%;
  display: flex;
  gap: 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.noDataText{
  color:  #CCC;
  text-align: center;
  font-family: "HelveticaRoman";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}