
.changeEmailWrapper{
    padding: 0 16px;
}

.changeEmailHeader{
    color:  #CCC;
    font-family: "HelveticaRoman";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.submitButton{
    width: 100%;
    height: 48px;
    padding: 8px 16px;
    border-radius: 48px;
    background: var(--color-grey-600);
    font-size: 14px;
    font-weight: 510;
    line-height: 24px;
    color: var(--color-black-100);
    margin-top: 8px;
    font-family: "HelveticaMedium";
    margin-bottom: 20px;
    border: none;
}