.veriffContainer{
    height: 100%;
    width: 100%;
    padding: 0px 16px;
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    margin-top: 72px;
    align-items: center;
    justify-content: center;
    /* justify-content: space-between; */
}

.pendingIcon{
    background: url(../../../../assets/images/homePage/veriffParticles.png) no-repeat;
    background-size: cover;
    width: 311px;
    height: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.veriffHeader{
    font-family: 'HelveticaMedium';
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
    margin-top: 32px;
}

.veriffDescription{
    font-family: 'HelveticaRoman';
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-top: 8px;
}

