
.transactionDetails{
    padding: 0 16px;
}

.categoryItemDetails{
    margin-top: 16px;
    display: flex;
    padding: 12px 0;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 1px solid #49494929;
}


.categoryHeader{
    font-family: "HelveticaMedium";
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color:  #FFFFFF;
}


.categoryFooter{
    font-family: "HelveticaRoman";
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color:  #CCCCCC;
}


.categoryItemRightInner{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.categoryItemRight{
    display: flex;
    gap: 12px;
}
