.header {
    display: flex;
    padding: 0 16px 4px 16px;
    width: 100%;
    margin-top: 12px;
    align-items: center;
}

.headerWrapper{
    z-index: 9;
    width: 100%;
    height:  56px;
    padding: 12px 8px 12px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius:  24px;
    background: rgba(28, 28, 28, 0.60);
    backdrop-filter: blur(10px);
}

/* .fixHeader{
    position: fixed;
} */

/* .showHeader {
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
} */

.burgerMenuAvatar{
    border-radius: 50%;
    /* background-image: url('../../../../assets/images/avatar.png'); */
    width: 24px;
    height: 24px;
    border-radius: 32px;
}

.burgerMenuIcon {
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.burgerMenuIconLine{
    display: block;
    width: 15px;
    height: 1.67px;
    background: #FFFFFF;
}

.burgerIconWrapper {
    width: 69px;
    height: 40px;
    border-radius: 32px;
    background-color:#49494926;
    padding: 8px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    border: 0.5px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, transparent 20%, #ffffff40 50%, transparent 80%);
}

.verifIcon{
    position: absolute;
    text-align: center;
    justify-content: center;
    top: -5px;
    right: -8px;
}

.signIn{
    width: 79px;
    height: 40px;
    font-size: 14px;
    font-weight: 590;
    line-height: 22px;
    color: rgba(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none; 
    border: 1px solid;
    border-radius: 48px;
    background-color: rgba(60, 156, 4);
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, transparent 20%, rgba(141, 215, 97, 0.8) 50%, transparent 80%);
}

.burgerMenuAvatarContainer{
    position: relative;
}
.burgerMenuNotification{
    width: 12px;
    height: 12px;
    border-radius: 40px;
    background: #FF1F1F;
    border: 1px solid #252525;
    position: absolute;
    font-size: 8px;
    font-weight: 700;
    line-height: 11px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    top: -3px;
    right: -2px;
}

.closeIconWrapper{
    border-radius: 50%;
    background-color: rgb(40, 44, 57);
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.closeIcon{
    background-position: -235px -44px;
    width: 27px;
    height: 26px;
}

.verify{
    cursor: pointer;
    width: 80px;
    text-align: center;
    height: 40px;
    border-radius: 32px;
    background-color:#49494926;
    padding: 8px;
    border: 0.5px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, transparent 20%, #ffffff40 50%, transparent 80%);
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.headerRight{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.count{
    width: 12px;
    height: 12px;
    gap: 8px;
    border-radius: 40px;
    background: rgba(255, 31, 31, 1);
    border: 1px solid rgba(37, 37, 37, 1);
    font-size: 8px;
    font-weight: 700;
    line-height: 12px;
    text-align: center;
    color: var(--color-grey-600);
    position: absolute;
    font-family: "HelveticaRoman";
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notificationCount{
    position: relative;
}