.popupComponent{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    /* -webkit-animation: fadeIn 1s; */
    /* animation: fadeIn 1s; */
    z-index: 10;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: flex-end;
}


.popupContainer{
    -webkit-animation: scrollIn 1s;
    animation: scrollIn 1s;
    width: 100%;
    border-radius: 16px 16px 0 0;
    background:  var(--color-black-200);
    position: relative;
    padding: 16px 24px 40px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@-webkit-keyframes scrollIn {
    from {
        top: 100%;
    }
    to {
        top: 0;
    }
}

@keyframes scrollIn {
    from {
        top: 100%;
    }
    to {
        top: 0;
    }
}

.popupContainer.fadeOut{
    animation: scrollOut 1s;
    -webkit-animation: scrollOut 1s;
}

@-webkit-keyframes scrollOut {
    from {
        top: 0;
    }
    to {
        top: 100%;
    }
}

@keyframes scrollOut {
    from {
        top: 0;
        
    }
    to {
        top: 100%;
    }
}

.popupContainerIcon{
    align-self: flex-end;
}

.cardLowerElement{
    width: 100%;
    height:  32px;
    padding: 8px;
    border-radius: 24px;
    background:  var(--color-black-100);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
}

.headerText{
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    color: linear-gradient(89.17deg, #FFFFFF 49.1%, var(--color-grey-op-96) 100.17%);

}

.headerDiv{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color:  var(--color-fg-on-dark-secondary);
    margin-top: 16px;
    font-family: "HelveticaRoman";
}
/* 
.inputs{
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 24px;
}

.inputElement{
    width: 56px;
    height: 56px;
    padding: 8px;
    border-radius: 16px;
    transition: 0.2s ease all;
    background:  #49494929;
    border: 1px solid;
    background-image: url();
    border-image-slice: 1;
    border-image-source: linear-gradient(92.79deg, transparent 20%, var(--color-grey-alpha-20) 50%, transparent 80%);
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    color: var(--color-grey-600);
    text-align: center;
    z-index: 1;
    position: relative;
    font-family: "HelveticaBold";
}

.inputElement.inputError{
    background-color: rgba(50, 20, 20) !important
}

.inputElement:focus{
    background-color:  var(--color-grey-op-48);
    border-image-source: linear-gradient(92.79deg,  transparent 20% 8.58%, #FFFFFF 49.59%, transparent 80%);
}

.background{
    max-width: 344px;
    border-radius: 16px;
    display: none;
    height: 56px;
    width: 100%;
    position: absolute;
    top: -1px;
    left: -1px;
    background: linear-gradient(92.79deg, #F54141 8.58%, #FFA8A8 49.59%, #F54141 91.42%);
    padding: 1px;
    box-sizing: content-box;
    z-index: 0;
}

.inputError{
    display: block;
    color: var(--color-grey-600);
} */

.headerLeft{
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
}

/* .submitButton{
    width: 345px;
    height: 48px;
    padding: 8px 16px;
    border-radius: 48px;
    background: var(--color-grey-600);
    font-size: 14px;
    font-weight: 510;
    line-height: 24px;
    color: var(--color-black-100);
    margin-top: 28px;
} */

.codeInputContainer{
    position: relative;
}


.resend{
    margin-top: 24px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: var(--color-fg-on-dark-secondary);
}

.resend.active{
    color:  var(--color-grey-600);
    font-weight: 600;
    text-align: center;
    text-decoration: underline;
}

.bold{
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color:  var(--color-grey-600);

}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}