.registerWrapper{
    position: relative;
    /* height: 100vh; */
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    align-items: center;
    /* background-image: url(../../../../assets/images/login/background.png); */
    background-size: cover;
    scrollbar-width: none;
}

.tsuLinkLogo{
    background-image: url('../../../assets/images/TSUlinkLogo.png');
    width: 124px;
    height: 39px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.inputContainer{
    position: relative;
    width: 100%;
}

.submitButton{
    width: 345px;
    height: 48px;
    padding: 8px 16px;
    border-radius: 48px;
    background: var(--color-grey-600);
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: var(--color-black-100);
    font-family: "HelveticaMedium";
    border: none;
}

.submitButton.disabled{
    pointer-events: none;
}

.error {
    margin-top: 8px;
    text-align: left;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color:  rgba(255, 168, 168, 1);
}

.headerContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 7px;
    margin-top: 12px;
    display: flex;
    height:  56px;
    padding: 12px;
    border-radius: 36px;
    background: rgba(28, 28, 28, 0.60);
    backdrop-filter: blur(10px);
}

.switch{
    width: 345px;
}

.registerHeader{
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.015em;
    text-align: center;
    margin-top: 33px;
    margin-bottom: 12px;
    background: linear-gradient(89.17deg, #FFFFFF 49.1%, var(--color-grey-op-96) 100.17%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "HelveticaMedium";
}

.text{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color:  var(--color-fg-on-dark-secondary);
    margin-bottom: 8px;
}

.eyeIcon{
    position: absolute;
    top: 20px;
    right: 17px;
    width: 16px;
    height: 16px;
    z-index: 1;
}

.validationContainer{
    display: flex;
    flex-direction: column;
}

.validation{
    display: flex;
    margin-right: 12px;
}

.validationIcon{
    margin-right: 8px;
}

.validationText{
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 176px;
    padding: 16px 0px 0px 0px;
    gap: 24px;
    border-top: 1px solid var(--color-black-200);
    background: #0D0D0D;
    margin-bottom: 54px;
}

.form{
    width: 345px;
}

.spinLoading {
    position: relative;
    /* width: 28px; */
    height: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.spinLoadingOuterBlock{
    width: 8px;
    height: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinLoadingBlock {
    width: 5px;
    height: 5px;
    border-radius: 10px;
    -webkit-animation: changeBackground 1.2s infinite ease-in-out;
    animation: changeBackground 1s infinite ease-in-out;
    background: rgba(68, 166, 10, 1);
}

.spinLoadingBlock.one {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinLoadingBlock.two {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinLoadingBlock.three {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}


@-webkit-keyframes changeBackground {

    0%,
    40%,
    100% {
        width: 5px;
        height: 5px;
    }

    20% {
        width: 8px;
        height: 8px;
    }
}

@keyframes changeBackground {
    0%,
    40%,
    100% {
        width: 5px;
        height: 5px;
    }

    20% {
        width: 8px;
        height: 8px;
    }
}

.content, .contentSecurity{
    width: 100%;
    height: 100%;
    line-break: anywhere;
    padding: 10px 15.5px;
}

.contentSecurity{
    padding: 10px 30px;
}

.content a, .contentSecurity a{
    color: white;
}