.IDWrapper{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.divWrapper{
    display: flex;
    height: 160px;
    justify-content: center;
    gap: 8px;
    width: 100%;
}

.card{
    display: flex;
    padding:  16px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background: var(--color-grey-op-16);
}

.cardIcon{
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 14px;
    border-radius:  32px;
    border: 1px dashed #434343;
    background:  var(--color-grey-op-16);
    backdrop-filter: blur(10px);
}

.text{
    color: #CCC;
    text-align: center;
    font-family: "HelveticaRoman";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.imageWrapper{
    width: 120.409px;
    height: 56px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.idBackground1, .idBackground2{
    display: block;
    position: absolute;
    width: 70.692px;
    height: 43.503px;
    border-radius: 5.091px;
    background:  #2E2E2E;
    bottom: 5px;
}

.idBackground1{
    left: 0;
    transform: rotate(-5.586deg);
}

.idBackground2{
    right: 0;
    transform: rotate(5.586deg);
}

.documentImage{
    z-index: 1;
    width: 94.182px;
    height: 56px;
    border-radius: 4px;
    border: 1.273px solid  #FFF;
    box-shadow: 0px 5.091px 5.091px 0px rgba(255, 255, 255, 0.00);
}

.controlsWrapper{
    display: flex;
    gap:  8px;
}

.controlIcons{
    display: flex;
    padding: 8px;
    border-radius: 200px;
    background: #333;
    justify-content: center;
    align-items: center;
}

.card.selfy{
    flex-direction: row;
    padding: 0px 32px;
    justify-content: space-between;
    align-items: center;
}

.selfyWrapper{
    width: 108.59px;
    height: 90px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selfyBackground1, .selfyBackground2{
    display: block;
    position: absolute;
    width: 71.22px;
    height: 69.712px;
    border-radius: 5.091px;
    background:  #2E2E2E;
    bottom: 3px;
}

.selfyBackground1{
    left: 0;
    transform: rotate(-3.518deg);
}

.selfyBackground2{
    right: 0;
    transform: rotate(3.518deg);
}

.selfyImage{
    z-index: 1;
    width: 76px;
    height: 90px;
    border-radius: 4px;
}