.personalInfoWrapper {
    position: relative;
    background-color: #0D0D0D;
    display: flex;
    flex-direction: column;
    padding: 0 16px;
}

.personalInfoHeader {
    display: flex;
    width: 100%;
    height: 56px;
    padding: 12px;
    margin-top: 12px;
    justify-content: space-between;
    align-items: center;
    border-radius: 36px;
    background: rgba(28, 28, 28, 0.60);
    backdrop-filter: blur(10px);
}

.filler {
    width: 32px;
    height: 32px;
}

.categoryTitle {
    margin-top: 24px;
    font-family: "HelveticaMedium";
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    background: linear-gradient(89deg, #FFF 4.32%, var(--color-grey-op-96) 100.17%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.categoryItem {
    margin-top: 16px;
    display: flex;
    padding: 12px 14px;
    align-items: center;
    border-radius: 16px;
    background: rgba(28, 28, 28, 0.60);
    justify-content: space-between;
    gap: 12px;
    cursor: pointer;
}

.categoryIcon {
    height: 100%;
    padding: 3px 0;
}

.itemInfo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.itemTitle {
    font-family: "HelveticaMedium";
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
}

.itemDescription {
    font-family: "HelveticaRoman";
    color: #CCCCCC;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

.categoryDescription {
    color: #CCC;
    font-family: "HelveticaMedium";
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    margin-top: 24px;
}

.categoryDescriptionSmall{
    font-family: "HelveticaRoman";
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color:  #CCCCCC;
    margin: 8px 0 16px 0;
}

.switch {
    position: relative;
    display: inline-block;
    min-width: 32px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 16px;
    border: 1px solid  #404040;
    background:  #2E2E2E;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 16px;
}

input:checked+.slider {
    background:  #44A60A;
    box-shadow: 0px 0.5px 1.5px 0px #92ED5D inset;
    border: 1px solid  transparent;
}

input:checked+.slider:before {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
}

.personalInfoDiv{
    border-radius: 16px;
    background: #1C1C1C99;
    margin: 16px 0;
}

.personalInfoItem{
    display: flex;
    padding:  4px 16px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid  var(--color-grey-op-16);
    height: 48px;
}

.lastPersonalInfoItem{
    border-bottom: 1px solid transparent;
}

.personalInfoItemTitle{
    color:  #CCC;
    font-family: "HelveticaRoman";
    font-size: 12px;
    font-weight: 400;
    line-height:  16px;
}

.personalInfoItemData{
    color:  #FFF;
    font-family: "HelveticaMedium";
    font-size: 14px;
    font-weight: 500;
    line-height:  24px;
}

.notice{
    color:  #CCC;
    text-align: center;
    font-family: "HelveticaRoman";
    font-size:  12px;
    font-weight: 400;
    line-height:  16px;
}



.placeHolder{
    position: absolute;
    top: 38px;
    left: 50px;
    font-family: "HelveticaRoman";
    font-weight: 400;
    font-size: 14;
    color: #CCCCCC;
}


.rightArrow{
    position: absolute;
    right: 30px;
    top: 18px;
}
