.providersWrapper{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    padding: 16px;
    width: 100%;
    gap: 16px;
}

.activityContainer{
    height: calc(100% - 68px);
    width: 100%;
    margin-top: 24px;
    overflow: scroll;
    scrollbar-width: none;
}

.providerOuterDiv{
    width: 44%;
    height: 144px;
    border-radius: 16px;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    border: 1px solid transparent;
}

.background{
    border-radius: inherit;
    background: linear-gradient(92.79deg, rgba(255, 255, 255, 0.1) 8.58%, rgba(255, 255, 255, 0.5) 49.59%, rgba(255, 255, 255, 0.1) 91.42%);
    position: absolute;
    width: 164px;
    height: 144px;
    z-index: -1;
}


.selected{
    border: 1px solid var(--color-grey-600);
}

.providerTopDiv{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    pointer-events: none;
}

.checkbox{
    width: 20px;
    height: 20px;
    padding: 8px;
    border-radius: 4px;
    border: 1.5px solid rgba(77, 75, 75, 1)
}

.checkbox:checked{
    background-image: url(../../../assets/images/wallet/check.svg);
    border: none !important;
}

.providerWrapper{
    width: 100%;
    height: 142px;
    border-radius: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 16px;
    background:  #272727;
}

.gamesAmount{
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: var(--color-fg-on-dark-secondary);
    font-family: "HelveticaRoman";
}

.submit{
    width: calc(100% - 32px);
    height: 48px;
    border-radius: 36px;
    background: var(--color-grey-600);
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: var(--color-black-100);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px auto;
    font-family: "HelveticaMedium";
}