.historyContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.historyHeaderContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.containerHeader {
  font-size: 24px;
  line-height: 32px;
  text-align: left;
  background: linear-gradient(89deg,
      #fff 4.32%,
      rgba(73, 73, 73, 0.96) 100.17%);
  font-family: HelveticaBold;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.filtersItem{
  height: 100%;
  padding: 8px 12px;
  border-radius: 36px;
  display: flex;
  align-items: center;
  gap: 8px;
  background:  var(--color-grey-op-32);
  backdrop-filter: blur(16px);
}

.filtersText{
  font-family: "HelveticaRoman";
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
}

.historyWrapper{
  display: flex;
  width: 100%;
  padding: 24px 16px 16px 16px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  max-height: 472px;
  overflow-y: scroll;
  
  background-color: rgba(17, 17, 17, 1);
  border: 1px solid var(--color-black-200);
  border-radius: 16px;
}

.historyWrapper::-webkit-scrollbar {
  width: 3px;
}

.historyWrapper::-webkit-scrollbar-thumb {
  background-color: rgba(73, 73, 73, 0.5);
  border-radius: 16px;
}

.categoryItem {
  width: 100%;
  display: flex;
  padding: 18px 12px;
  align-items: flex-start;
  border-radius: 16px;
  background: rgba(26, 26, 26, 1);
  justify-content: space-between;
}


.categoryItemDetails{
  margin-top: 16px;
  display: flex;
  padding: 12px 0;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px solid #49494929;
}

.categoryHeader{
  font-family: "HelveticaMedium";
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color:  #FFFFFF;
}

.categoryFooter{
  font-family: "HelveticaRoman";
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color:  #CCCCCC;
  width: max-content;
}

.categoryItemRightInner{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
}

.categoryItemLeftInner{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.levelCard{
  width: 26.572px;
  margin-right: 16px;
}

.categoryItemLeft{
  display: flex;
}


.noData{
  width: 100%;
  height: 100%;
  display: flex;
  gap: 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.noDataText{
  color:  #CCC;
  text-align: center;
  font-family: "HelveticaRoman";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}