.newPasswordWrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    align-items: center;
    /* background-image: url(../../../../assets/images/login/background.png); */
    background-size: cover;
    scrollbar-width: none;
}

.aviatorLogo{
    display: block;
    background-image: url(../../../../assets/images/login/aviatorLogo.svg);
    width: 124px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;
}

.inputContainer{
    position: relative;
    width: 100%;
}

.codeInputContainer{
    position: relative;
}

.submitButton{
    width: 345px;
    height: 48px;
    padding: 8px 16px;
    border-radius: 48px;
    background: var(--color-grey-600);
    font-size: 14px;
    font-weight: 510;
    line-height: 24px;
    color: var(--color-black-100);
    margin-top: 28px;
}

.error {
    margin-top: 8px;
    text-align: left;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color:  rgba(255, 168, 168, 1);
}

.backIcon{
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    left: 16px;
}

.headerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 7px;
    margin-top: 12px;
    display: flex;
    height:  56px;
    padding: 12px;
    border-radius: 36px;
    background: rgba(28, 28, 28, 0.60);
    backdrop-filter: blur(10px);
}

.newPasswordHeader{
    font-size: 26px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -0.015em;
    text-align: center;
    margin-top: 33px;
    margin-bottom: 12px;
    background: linear-gradient(89.17deg, #FFFFFF 49.1%, var(--color-grey-op-96) 100.17%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color:  var(--color-fg-on-dark-secondary);
    margin-bottom: 8px;
}

.eyeIcon{
    position: absolute;
    top: 36px;
    right: 17px;
    width: 16px;
    height: 16px;
    z-index: 1;
}

.validationContainer{
    display: flex;
    flex-direction: column;
}

.inputs{
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 24px;
}

.validation{
    display: flex;
    margin-right: 12px;
}

.validationIcon{
    margin-right: 8px;
}

.validationText{
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

.inputElement{
    width: 56px;
    height: 56px;
    padding: 8px;
    border-radius: 16px;
    transition: 0.2s ease all;
    background: rgba(25, 25, 25, 1);
    border: 1px solid;
    background-image: url();
    border-image-slice: 1;
    /* border-image-source: linear-gradient(92.79deg, transparent 20%, var(--color-grey-alpha-20) 49.59%, transparent 80%); */
    border-image-source: linear-gradient(92.79deg, transparent 20%, var(--color-grey-alpha-20) 50%, transparent 80%);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: var(--color-grey-600);
    text-align: center;
    z-index: 1;
    position: relative;
}

.inputElement.inputError{
    background-color: rgba(50, 20, 20) !important
}

.inputElement:focus{
    background-color:  var(--color-grey-op-48);
    border-image-source: linear-gradient(92.79deg,  transparent 20% 8.58%, #FFFFFF 49.59%, transparent 80%);
}

.background{
    max-width: 344px;
    border-radius: 16px;
    display: none;
    height: 56px;
    width: 100%;
    position: absolute;
    top: -1px;
    left: -1px;
    background: linear-gradient(92.79deg, #F54141 8.58%, #FFA8A8 49.59%, #F54141 91.42%);
    padding: 1px;
    box-sizing: content-box;
    z-index: 0;
}

.inputError{
    display: block;
    color: var(--color-grey-600);
}


.resend{
    margin-top: 24px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: var(--color-fg-on-dark-secondary);
}

.resend.active{
    color:  var(--color-grey-600);
    font-weight: 600;
    text-align: center;
    text-decoration: underline;
}

.bold{
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color:  var(--color-grey-600);

}

.form{
    width: 345px;
    display: flex;
    flex-direction: column;
    align-items: center;
}