.bogIframe{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header{
    margin: 16px;
    font-size: 32px;
    font-weight: 600;
    line-height: 35px;
    text-align: center;
}

.middleBog{
    border-radius: 16px;
    height: 100%;
    margin: 0 17px 8px 17px;
    /* background: transparent; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.iFrame{
    width: 100%;
    height: 100%;
    border: none;
}